.article {
  color: var(--color);
  font-size: var(--article-font-size);
  line-height: var(--article-line-height);
  margin: 0;
  padding: var(--article-padding) 0;

  p {
    &:not(:first-child) {
      padding: var(--article-paragraph-padding) 0;

      & + p {
        padding-top: 0;
      }
    }
  }

  h2 {
    padding: var(--article-paragraph-padding) 0;
  }
}