.extra-materials {
  $selector: &;

  background-color: var(--extra-materials-background-color);
  border-radius: var(--extra-materials-border-radius);
  font-family: var(--extra-materials-base-font-family);
  padding: var(--extra-materials-padding-vertical) var(--extra-materials-padding-horizontal);

  &__error {
    color: red;
  }

  &__header {
    font-size: var(--extra-materials-header-font-size);
    font-weight: bold;
    line-height: var(--extra-materials-header-line-height);
    padding-bottom: 16px;
    text-transform: uppercase;
  }

  @mixin constructor-mode_input() {
    background-color: transparent;
    border: none;
    color: var(--color);
    outline: none;
    padding: 0;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__header-input {
    @extend #{$selector}__header;
    @include constructor-mode_input;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 12px 0 22px; // todo: (rgilmullin) clarify padding
    position: relative;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__divider {
    background-color: #000;
    height: 1px;
    opacity: .1;
  }

  &__url-input {
    background-color: transparent;
    border: none;
    color: var(--color);
    outline: none;
    padding: 8px 0;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__title {
    font-size: var(--extra-materials-title-font-size);
    font-weight: bold;
    line-height: var(--extra-materials-title-line-height);
    padding-bottom: 4px;

    &_empty {
      color: red;
    }
  }

  &__title-input {
    @extend #{$selector}__title;
    @include constructor-mode_input;
  }

  &__description {
    font-family: var(--lava-pro-font-famly);
    font-size: var(--extra-materials-description-font-size);
    line-height: var(--extra-materials-description-line-height);
    padding-bottom: 4px;
  }

  &__description-input {
    @extend #{$selector}__description;
    @include constructor-mode_input;
  }

  &__source-domain {
    background-color: var(--extra-materials-source-domain-background-color);
    border-radius: var(--extra-materials-source-domain-border-radius);
    display: inline-block;
    font-size: var(--extra-materials-source-domain-font-size);
    line-height: var(--extra-materials-source-domain-line-height);
    padding: 5px;
  }

  &_constructor {
    #{$selector}__list {
      padding-bottom: var(--extra-materials-padding-vertical);
    }
    #{$selector}__controls {
      display: flex;
      justify-content: space-around;
      padding-top: var(--extra-materials-padding-vertical);
    }
    #{$selector}__item-controls {
      display: flex;
      justify-content: space-around;
      padding: calc(var(--extra-materials-padding-vertical) / 2) 0 var(--extra-materials-padding-vertical);

      .button {
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }

  &:not(&_constructor) {
    #{$selector}__item:hover {
      opacity: .7;
    }
  }
}
